back-end/.vs/MinhaAPICompleta/v16/.suo
back-end/.vs/MinhaAPICompleta/v16/Server/sqlite3/db.lock
back-end/.vs/MinhaAPICompleta/v16/Server/sqlite3/storage.ide
back-end/.vs/MinhaAPICompleta/v16/Server/sqlite3/storage.ide-shm
back-end/.vs/MinhaAPICompleta/v16/Server/sqlite3/storage.ide-wal
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/appsettings.Development.json
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/appsettings.json
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/appsettings.Production.Development.json
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/appsettings.Production.json
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/appsettings.Staging.json
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/AutoMapper.dll
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/AutoMapper.Extensions.Microsoft.DependencyInjection.dll
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/BouncyCastle.Crypto.dll
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/DevIO.Api.deps.json
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/DevIO.Api.dll
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/DevIO.Api.exe
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/DevIO.Api.pdb
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/DevIO.Api.runtimeconfig.dev.json
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/DevIO.Api.runtimeconfig.json
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/DevIO.Api.StaticWebAssets.xml
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/DevIO.Business.dll
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/DevIO.Business.pdb
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/DevIO.Data.dll
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/DevIO.Data.pdb
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/Elmah.Io.AspNetCore.dll
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/Elmah.Io.AspNetCore.HealthChecks.dll
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/Elmah.Io.Client.dll
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/Elmah.Io.Extensions.Logging.dll
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/FluentValidation.dll
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/HealthChecks.SqlServer.dll
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/HealthChecks.UI.Client.dll
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/HealthChecks.UI.dll
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/KubernetesClient.dll
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Authentication.JwtBearer.dll
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Cryptography.Internal.dll
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Cryptography.KeyDerivation.dll
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Identity.EntityFrameworkCore.dll
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Identity.UI.dll
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Identity.UI.Views.V3.dll
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Identity.UI.Views.V4.dll
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.JsonPatch.dll
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Mvc.Versioning.ApiExplorer.dll
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Mvc.Versioning.dll
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/Microsoft.Bcl.AsyncInterfaces.dll
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/Microsoft.Bcl.HashCode.dll
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/Microsoft.Data.SqlClient.dll
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/Microsoft.Data.Sqlite.dll
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/Microsoft.DotNet.PlatformAbstractions.dll
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Abstractions.dll
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Design.dll
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.dll
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Relational.Design.dll
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Relational.dll
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Sqlite.Design.dll
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Sqlite.dll
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.SqlServer.dll
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Abstractions.dll
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Memory.dll
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Abstractions.dll
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Binder.dll
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.dll
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.Abstractions.dll
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.dll
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyModel.dll
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Diagnostics.HealthChecks.Abstractions.dll
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Diagnostics.HealthChecks.dll
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/Microsoft.Extensions.FileProviders.Abstractions.dll
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/Microsoft.Extensions.FileProviders.Embedded.dll
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Hosting.Abstractions.dll
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Http.dll
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Identity.Core.dll
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Identity.Stores.dll
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.dll
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.dll
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/Microsoft.Identity.Client.dll
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.JsonWebTokens.dll
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Logging.dll
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.dll
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Tokens.dll
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/Microsoft.OpenApi.dll
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/Microsoft.Rest.ClientRuntime.dll
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/SQLitePCLRaw.batteries_v2.dll
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/SQLitePCLRaw.core.dll
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/SQLitePCLRaw.nativelibrary.dll
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/SQLitePCLRaw.provider.dynamic_cdecl.dll
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.Swagger.dll
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.SwaggerGen.dll
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.SwaggerUI.dll
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/System.Collections.Immutable.dll
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/System.Configuration.ConfigurationManager.dll
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/System.Diagnostics.DiagnosticSource.dll
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/System.IdentityModel.Tokens.Jwt.dll
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/System.Runtime.Caching.dll
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/System.Security.Cryptography.ProtectedData.dll
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/System.Text.Json.dll
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/YamlDotNet.dll
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/runtimes/alpine-x64/native/libe_sqlite3.so
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/runtimes/linux-arm/native/libe_sqlite3.so
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/runtimes/linux-arm64/native/libe_sqlite3.so
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/runtimes/linux-armel/native/libe_sqlite3.so
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/runtimes/linux-musl-x64/native/libe_sqlite3.so
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/runtimes/linux-x64/native/libe_sqlite3.so
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/runtimes/linux-x86/native/libe_sqlite3.so
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/runtimes/osx-x64/native/libe_sqlite3.dylib
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.0/System.Runtime.Caching.dll
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.0/System.Runtime.Caching.dll
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/runtimes/win-arm/native/e_sqlite3.dll
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/e_sqlite3.dll
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/sni.dll
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/e_sqlite3.dll
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/sni.dll
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/e_sqlite3.dll
back-end/src/DevIO.Api/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/sni.dll
back-end/src/DevIO.Api/obj/DevIO.Api.csproj.nuget.cache
back-end/src/DevIO.Api/obj/DevIO.Api.csproj.nuget.dgspec.json
back-end/src/DevIO.Api/obj/DevIO.Api.csproj.nuget.g.props
back-end/src/DevIO.Api/obj/DevIO.Api.csproj.nuget.g.targets
back-end/src/DevIO.Api/obj/project.assets.json
back-end/src/DevIO.Api/obj/Debug/netcoreapp3.1/DevIO.Api.AssemblyInfo.cs
back-end/src/DevIO.Api/obj/Debug/netcoreapp3.1/DevIO.Api.AssemblyInfoInputs.cache
back-end/src/DevIO.Api/obj/Debug/netcoreapp3.1/DevIO.Api.assets.cache
back-end/src/DevIO.Api/obj/Debug/netcoreapp3.1/DevIO.Api.csproj.CopyComplete
back-end/src/DevIO.Api/obj/Debug/netcoreapp3.1/DevIO.Api.csproj.FileListAbsolute.txt
back-end/src/DevIO.Api/obj/Debug/netcoreapp3.1/DevIO.Api.csprojAssemblyReference.cache
back-end/src/DevIO.Api/obj/Debug/netcoreapp3.1/DevIO.Api.dll
back-end/src/DevIO.Api/obj/Debug/netcoreapp3.1/DevIO.Api.exe
back-end/src/DevIO.Api/obj/Debug/netcoreapp3.1/DevIO.Api.genruntimeconfig.cache
back-end/src/DevIO.Api/obj/Debug/netcoreapp3.1/DevIO.Api.MvcApplicationPartsAssemblyInfo.cache
back-end/src/DevIO.Api/obj/Debug/netcoreapp3.1/DevIO.Api.MvcApplicationPartsAssemblyInfo.cs
back-end/src/DevIO.Api/obj/Debug/netcoreapp3.1/DevIO.Api.pdb
back-end/src/DevIO.Api/obj/Debug/netcoreapp3.1/DevIO.Api.RazorTargetAssemblyInfo.cache
back-end/src/DevIO.Api/obj/Debug/netcoreapp3.1/staticwebassets/DevIO.Api.StaticWebAssets.Manifest.cache
back-end/src/DevIO.Api/obj/Debug/netcoreapp3.1/staticwebassets/DevIO.Api.StaticWebAssets.xml
back-end/src/DevIO.Business/bin/Debug/netcoreapp3.1/DevIO.Business.deps.json
back-end/src/DevIO.Business/bin/Debug/netcoreapp3.1/DevIO.Business.dll
back-end/src/DevIO.Business/bin/Debug/netcoreapp3.1/DevIO.Business.pdb
back-end/src/DevIO.Business/obj/DevIO.Business.csproj.nuget.cache
back-end/src/DevIO.Business/obj/DevIO.Business.csproj.nuget.dgspec.json
back-end/src/DevIO.Business/obj/DevIO.Business.csproj.nuget.g.props
back-end/src/DevIO.Business/obj/DevIO.Business.csproj.nuget.g.targets
back-end/src/DevIO.Business/obj/project.assets.json
back-end/src/DevIO.Business/obj/Debug/netcoreapp3.1/DevIO.Business.AssemblyInfo.cs
back-end/src/DevIO.Business/obj/Debug/netcoreapp3.1/DevIO.Business.AssemblyInfoInputs.cache
back-end/src/DevIO.Business/obj/Debug/netcoreapp3.1/DevIO.Business.assets.cache
back-end/src/DevIO.Business/obj/Debug/netcoreapp3.1/DevIO.Business.csproj.FileListAbsolute.txt
back-end/src/DevIO.Business/obj/Debug/netcoreapp3.1/DevIO.Business.csprojAssemblyReference.cache
back-end/src/DevIO.Business/obj/Debug/netcoreapp3.1/DevIO.Business.dll
back-end/src/DevIO.Business/obj/Debug/netcoreapp3.1/DevIO.Business.pdb
back-end/src/DevIO.Data/bin/Debug/netcoreapp3.1/DevIO.Business.dll
back-end/src/DevIO.Data/bin/Debug/netcoreapp3.1/DevIO.Business.pdb
back-end/src/DevIO.Data/bin/Debug/netcoreapp3.1/DevIO.Data.deps.json
back-end/src/DevIO.Data/bin/Debug/netcoreapp3.1/DevIO.Data.dll
back-end/src/DevIO.Data/bin/Debug/netcoreapp3.1/DevIO.Data.pdb
back-end/src/DevIO.Data/obj/DevIO.Data.csproj.nuget.cache
back-end/src/DevIO.Data/obj/DevIO.Data.csproj.nuget.dgspec.json
back-end/src/DevIO.Data/obj/DevIO.Data.csproj.nuget.g.props
back-end/src/DevIO.Data/obj/DevIO.Data.csproj.nuget.g.targets
back-end/src/DevIO.Data/obj/project.assets.json
back-end/src/DevIO.Data/obj/Debug/netcoreapp3.1/DevIO.Data.AssemblyInfo.cs
back-end/src/DevIO.Data/obj/Debug/netcoreapp3.1/DevIO.Data.AssemblyInfoInputs.cache
back-end/src/DevIO.Data/obj/Debug/netcoreapp3.1/DevIO.Data.assets.cache
back-end/src/DevIO.Data/obj/Debug/netcoreapp3.1/DevIO.Data.csproj.CopyComplete
back-end/src/DevIO.Data/obj/Debug/netcoreapp3.1/DevIO.Data.csproj.FileListAbsolute.txt
back-end/src/DevIO.Data/obj/Debug/netcoreapp3.1/DevIO.Data.csprojAssemblyReference.cache
back-end/src/DevIO.Data/obj/Debug/netcoreapp3.1/DevIO.Data.dll
back-end/src/DevIO.Data/obj/Debug/netcoreapp3.1/DevIO.Data.pdb
back-end/.vs/MinhaAPICompleta/v16/.suo
back-end/.vs/MinhaAPICompleta/DesignTimeBuild/.dtbcache
back-end/.vs/MinhaAPICompleta/v16/.suo
back-end/obj/Docker/CachedComposeConfigFilePaths.cache
back-end/obj/Docker/ContainerToolsExceptions.json
back-end/obj/Docker/DOCKER_REGISTRY.cache
back-end/obj/Docker/MergedDockerCompose.cache
back-end/obj/Docker/TargetOS.cache
/back-end/obj
